{{template "base" .}}
{{define "content"}}

    <div class="container-contact100">
		<div class="wrap-contact100">

		      {{$log :=index .Data "contactform"}}
			<form class="contact100-form"  action="/contact"   method="post">
				<input type="hidden" name="csrf_token" value="{{.CSRFToken}}"> 
				<span class="contact100-form-title">
					Contact Us
				</span>



				<div class="wrap-input100 validate-input bg1" >

					<span class="label-input100">FULL NAME *</span>
					
					{{with .Form.Errors.Get "name"}}
              			<label class="label-input100"style="color:red">{{.}}</label>
              		{{end}}


					<input class="input100" value="{{$log.Username}}" type="text" name="name" placeholder="Enter Your Name">
				</div>



				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100">
					<span class="label-input100">Email *</span>

					{{with .Form.Errors.Get "Email"}}
              			<label class="label-input100"style="color:red">{{.}}</label>
              		{{end}}

					<input class="input100" value="{{$log.Email}}" type="text" name="Email" placeholder="Enter Your Email " >
				</div>



				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">University</span>

					{{with .Form.Errors.Get "University"}}
              			<label class="label-input100"style="color:red">{{.}}</label>
              		{{end}}

					<input class="input100" type="text" name="University" placeholder="Enter University"  >
				</div>


				<div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate = "Please Type Your Message">
					<span class="label-input100">Message</span>


					{{with .Form.Errors.Get "Message"}}
              			<label class="label-input100"style="color:red">{{.}}</label>
              		{{end}}

					<textarea class="input100" name="Message" value="{{$log.Message}}" placeholder="Your message here..." ></textarea>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" href="/contact"  >
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
    
    
{{end}}