{{template "base" .}}
{{define "content"}}

<div class="main" id="about">
    <div class="main__container">

        <div class="main__content">
          <h2>Helping students gain confidence</h2>
          <button class="main__btn"><a href="/login">Start practicing Now</a></button>
        </div>
    </div>
</div>
    <div class="main2" id="about">
        <div class="main__container">
            <div class="main__content">
            <h2>How it works</h2>
            <button class="main__btn"><a href="/login">Register</button>
        </div>
    </div>
</div>

<div class="questions">
    <h1 style="color:#2c5364">Questions?</h1>
    <p style="color:#2c5364"> Email us at *******@mslm.io </p>
    <li class="navbar__btn">
        <a href="/contact" class="button" id="login">Message</a>
    </li>
</div>


{{end}}