{{template "base" .}}
{{define "content"}}


<div class="maincont">
    <div class="container">

      {{$log :=index .Data "loginform"}}
        <form action="/login" method="post" class="form" id="loginf">
          
          <input type="hidden" name="csrf_token" value="{{.CSRFToken}}"> 
            
            <h1 class="form__title">Login</h1>
            
            <div class="form__input-group">
            {{with .Form.Errors.Get "login_email"}}
            <label class="text-danger">{{.}}</label>
            {{end}}
              <input type="text" value="{{$log.LoginEmail}}" class="form__input" autofocus placeholder="email" name="login_email">
              <div class="form__input-error-message"></div>
            </div>

            <div class="form__input-group">
              <input type="password" class="form__input" value="{{$log.LoginPassword}}" autofocus placeholder="Password" name="login_password">
              <div class="form__input-error-message"></div>
            </div>

            <button class="form__button" type="submit">Continue</button>

            <p class="form__text">
              <a class="form__link" href="/signup" id="linkCreateAccount">Don't have an account? Create account</a>
            </p>

        </form>

    </div>
</div>



{{end}}