{{template "base" .}}
{{define "content"}}


  <div class="maincont-search">
    <div class="container">

      {{$log :=index .Data "uploadform"}}
      <form id="form" enctype="multipart/form-data" action="/upload" method="POST">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <h1 class="form__title">Upload</h1>
        
        

        <div class="form__input-group">

              {{with .Form.Errors.Get "university"}}
                <label class="label-input100"style="color:red">{{.}}</label>
              {{end}}

          <div class="form__input">
            <label >University</label>
            <select class="form-control select" name="university">
            <option>Select</option> 
            {{range .Dropuni}}<option>{{.}}</option>{{end}} 
              </select>
            <div class="form__input-error-message"></div>
          </div>
          </div>

            <div class="form__input-group">
              
              {{with .Form.Errors.Get "Course"}}
                <label class="label-input100"style="color:red">{{.}}</label>
              {{end}}

              <div class="form__input">
                <label >Course</label>
                <select class="form-control select" name="Course">
                <option>Select</option> 
                {{range .DropCourse}}<option>{{.}}</option>{{end}} 
                  </select>
            <div class="form__input-error-message"></div>
        </div>
        </div>



                <div class="form__input-group"> 
                  {{with .Form.Errors.Get "department"}}
                    <label class="label-input100"style="color:red">{{.}}</label>
                  {{end}}

                    <div class="form__input">
                        <label >Department</label>
                        <select class="form-control select" name="department">
                            <option>Select</option> 
                            {{range .DropDept}}<option>{{.}}</option>{{end}} 
                        </select>
                    <div class="form__input-error-message"></div>
                </div>
              </div>

                <div class="form__input-group"> 
                    <div class="form__input">
                      <input class="input file-input" type="file" name="file" multiple />
                    </div>
                </div>

      <button class="form__button" type="submit">Continue</button>
  
    </form>
    </div>
    </div>
  </body>
{{end}}