{{template "base" .}}
{{define "content"}}
    <div class="maincont-search">
        <div class="container">
            <form class="form" id="Search" action="" method="">
                
                <h1 class="form__title">Search</h1>
                
                <div class="form__input-group"> 
                    <div class="form__input">
                        <label >University</label>
                        <select class="form-control select" name="search_university">
                            <option>Select</option> 
                            {{range .Dropuni}}<option>{{.}}</option>{{end}} 
                        </select>
                    <div class="form__input-error-message"></div>
                </div>
              </div>

                <div class="form__input-group"> 
                    <div class="form__input">
                        <label >Course</label>
                        <select class="form-control select" name="search_Course">
                            <option>Select</option> 
                            {{range .DropCourse}}<option>{{.}}</option>{{end}} 
                        </select>
                    <div class="form__input-error-message"></div>
                </div>
              </div>



                <div class="form__input-group"> 
                    <div class="form__input">
                        <label >Department</label>
                        <select class="form-control select" name="search_department">
                            <option>Select</option> 
                            {{range .DropDept}}<option>{{.}}</option>{{end}} 
                        </select>
                    <div class="form__input-error-message"></div>
                </div>
              </div>


                <button class="form__button" type="submit">Continue</button>

            </form>
        </div>
    </div>
{{end}}